<body class="imagem-04">
    <header>
        <nav>

            <div class="abrirMenu"><i class="fa fa-bars"></i></div>
            <u class="mainMenu">
                <li><a href="home">HOME</a></li>
                <li><a href="qualificacoes">QUALIFICAÇÕES</a></li>
                <li><a href="especialidades">ESPECIALIDADES</a></li>
                <li><a href="contatos">CONTATOS</a></li>
                <div class="fecharMenu"><i class="fa fa-times"></i></div>

                <span class="icons">
                    <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
                    <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i
                            class="fab fa-linkedin linkedin"></i></a>
                    <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
                    <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
                </span>
        </nav>

    </header>
    <main>
        <section id="contato" class="container">
            <div class="container-titulo">
                <h3>CONTATO</h3>
            </div>
    
    
            <form action="/contatos" method="POST" class="card">
    
                <p>Nome Completo:</p>
                <input type="text" name="nome" required >
                                                 
                <p>Nome Empresa:</p>
                <input type="text" name="empresa" required >
                    
                <p>Endereço Email:</p>
                <input type="text" name="email" required >
                    
                <p>Mensagem:</p>
                <input type="text" name="mensagem" placeholder="Informações sobre oportunidade de trabalho!" required>
                <button  type="submit" class="btn" >Enviar contato.</button>
    
            </form>
    
        </section>
    
    </main>
    <footer>

    </footer>

</body>