<body class="imagem-03">
    <header>
        <nav>

            <div class="abrirMenu"><i class="fa fa-bars"></i></div>
            <u class="mainMenu">
                <li><a href="home">HOME</a></li>
                <li><a href="qualificacoes">QUALIFICAÇÕES</a></li>
                <li><a href="especialidades">ESPECIALIDADES</a></li>
                <li><a href="contatos">CONTATOS</a></li>
                <div class="fecharMenu"><i class="fa fa-times"></i></div>

                <span class="icons">
                    <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
                    <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i
                            class="fab fa-linkedin linkedin"></i></a>
                    <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
                    <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
                </span>
        </nav>

    </header>

    <main class="container-principal">
        <section id="especialidades" class="container">
            <div class="container-titulo">
                <h3>DESENVOLVIMENTOS</h3>
                <p> Aplicações Front-End com HMTL5, CSS, JavaScript, Framework Flutter, React, React Native. <br>
                    Conhecimento
                    sólido sobre variáveis e operadores, programação orientada a objetos, estruturas condicionais, <br>
                    inputs, arrays, estrutura de repetição, manipulação de string, manipulação de datas, funções, <br>
                    manipulação de
                    arrays, módulos e aplicação em camadas..
                </p>
            </div>

            <div class="box-especialidades">
                <figure class="box-especialidade">
                    <img src="/imagens/html.jpg" alt="Imagem de projeto 1" title="Imagem de projeto 1">

                </figure>

                <figure class="box-especialidade">
                    <img src="/imagens/mvc.jpg" alt="Imagem de projeto 3" title="Imagem de projeto 3">

                </figure>
            </div>

            <div class="red-social">
                <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
                <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i
                        class="fab fa-linkedin linkedin"></i></a>
                <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
                <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
            </div>

            <a href="contatos"><button class="btn-contato">FAZER CONTATO</button></a>

        </section>
    </main>

    <footer>

    </footer>


</body>