<body>
    <header>
        <nav>

            <div class="abrirMenu"><i class="fa fa-bars"></i></div>
            <u class="mainMenu">
                <li><a href="home">HOME</a></li>
                <li><a href="qualificacoes">QUALIFICAÇÕES</a></li>
                <li><a href="especialidades">ESPECIALIDADES</a></li>
                <li><a href="contatos">CONTATOS</a></li>
                <div class="fecharMenu"><i class="fa fa-times"></i></div>

                <span class="icons">
                    <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
                    <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i
                            class="fab fa-linkedin linkedin"></i></a>
                    <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
                    <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
                </span>
        </nav>
    </header>
    <main class="container-home" id="HOME">

        <div class="box-home">
            <img src="/imagens/Fotohome.jpg" alt="foto-dev">
            <h2>Lucas Gabriel Do Carmo Santos.</h2>
            <h3>Desenvolvedor Full-Stack Jr.</h3>
            <div class="red-social">
                <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
                <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i
                        class="fab fa-linkedin linkedin"></i></a>
                <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
                <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
            </div>

            <a href="contatos"><button class="btn-contato">FAZER CONTATO</button></a>
        </div>

    </main>

    <footer>

    </footer>

</body>