<body class="container-01">
    <header>
        <nav>

            <div class="abrirMenu"><i class="fa fa-bars"></i></div>
            <u class="mainMenu">
                <li><a href="home">HOME</a></li>
                <li><a href="qualificacoes">QUALIFICAÇÕES</a></li>
                <li><a href="especialidades">ESPECIALIDADES</a></li>
                <li><a href="contatos">CONTATOS</a></li>
                <div class="fecharMenu"><i class="fa fa-times"></i></div>

                <span class="icons">
                    <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
                    <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i
                            class="fab fa-linkedin linkedin"></i></a>
                    <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
                    <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
                </span>

    </header>

    <main class="container-qualificacoes" id="sobre">

        <div class="container-titulo">
            <div>
                <h2>Desenvolvedor Full-Stack Jr.</h2>
            </div>


            <p>Desenvolvimento Web responsivo (web e mobile.) <br>
                em nível acadêmico, arquitetura
                MVC. Sistema Operacional Linux e Windows.
            </p>
        </div>
        <div class="container-sub-titulos">

            <h3>QUALIFICAÇÕES:</h3>
            <ul>
                <li>Versionamento GIT.</li>
                <li>Cloud Computing GCP , AWS e Azure.</li>
                <li>Desenvolvimento Responsivo First Mobile.</li>
                <li>Modelagem de dados BPMN e Diagramas UML.</li>
                <li>HTML, CSS, Java Script, Node.Js, C#, React, React Native, Flutter.</li>
                <li>Metodologia Agíl</li>
            </ul>
        </div>
        <div class="red-social">
            <a href="https://www.google.com.br/"> <i class="fab fa-google google"></i></a>
            <a href="https://www.linkedin.com/in/lucas-santos-a3611121a/"> <i class="fab fa-linkedin linkedin"></i></a>
            <a href="https://github.com/lgcsantos"> <i class="fab fa-github github"></i></a>
            <a href="mailton:lucas.prog@outlook.com"> <i class="fas fa-envelope-square email "></i></a>
        </div>

        <a href="contatos"><button class="btn-contato">FAZER CONTATO</button></a>



    </main>
    <footer>

    </footer>
    
</body>